{% extends "monitor/email/email-base.html" %}

{% block title %}
Node down notification
{% endblock %}

{% block email-body %}
  <p>Hi {{ user.username|capfirst }}</p>

  <div id="devices">

    This is to inform you that <span class="nodename"><a href="{{web_base_url}}/monitor/node/{{node.id}}?utm_source=monitor&utm_medium=email&utm_campaign={{ user.username|capfirst }}">{{node.nodeID}}</a></span>
    {% if node.descr %}
      which is <b>{{node.descr}}</b>
    {% endif %}
    has been non-responsive for more than an hour.

  </div>  

{% endblock %}
   