{% extends "monitor/email/email-base.html" %}

{% block title %}
Node down notification
{% endblock %}

{% block email-body %}
  <p>Hi {{ user.username|capfirst }}</p>

  <div id="devices">

  This is a reminder that <span class="nodename"><a href="{{web_base_url}}/monitor/node/{{node.id}}?utm_source=monitor&utm_medium=email&utm_campaign={{ user.username|capfirst }}">{{node.nodeID}}</a></span>
  {% if node.descr %}
   {{ node.descr }}
  {% endif %}
  is still not responding. It was last seen at {{ node.lastseen }} which is {{ node.lastseen|timesince }} ago.
  </div>  

{% endblock %}
  