
*.pyc
aklc/monitor/migrations/*.py
aklc/monitor/__pycache__/admin.cpython-37.pyc
docker-compose.yml
aklc/aklc/__pycache__/__init__.cpython-37.pyc
aklc/aklc/__pycache__/settings.cpython-37.pyc
aklc/aklc/__pycache__/urls.cpython-37.pyc
docker-compose.yml
aklc/monitor/notify.pkl
