{% extends "monitor/webbase.html" %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block background %}
  {% comment %}<div class="container-fluid background1" style="background-image: url({% static 'monitor/Gateway.jpg' %});">{% endcomment %}
{% endblock %}

{% block web-body %}
  <div id="contacts" class="container-fluid">
  <h1>Monitoring system</H1>
This system monitors what is happening with Nodes (sensors etc.), repeaters & gateways that have been deployed.
It provides the following principle functions:
<ul>
<li>Monitors items to check if they are online</li>
<li>Monitors battery information if available</li>
<li>Collects some basic data</li>
<li>Alerts people if nodes become unresponsive</li>
<li>Stores MQTT messages for later analysis/fault finding</li>
<li>Updates InfluxDB and Thingsboard with incoming data</li>
</ul>
<h2>Changes</h2>
The change log can be found <a href="https://aklciot.github.io/dj-monitor/change_log.html" target="_blank">here</a>
<h2>System documentation</h2>
System documentation is <a href="https://aklciot.github.io/dj-monitor/" target="_blank">here</a>
<h2>Data portal</h2>
The principle data portal is <a href="https://thingsboard.innovateauckland.nz/dashboard/ba796f00-2eb9-11eb-82fd-0dc4aa671ac4?publicId=6622f130-202b-11ea-93f1-45f1eb9a31da" target="_blank">here</a>
<h3>Grafana</h3>
A secondary portal is <a href="https://grafana.innovateauckland.nz" target="_blank">here</a>
<h3>Find us on github</h3>
<a href="https://github.com/aklciot" target="_blank">Innovate Auckland</a>
</div>
{% endblock %}