{% extends "monitor/email-base.html" %}

{% block title %}
Node down notification
{% endblock %}

{% block email-body %}
  <p>Hi {{ user.username|capfirst }}</p>

  <div id="devices">

    <div id="critical" class="devices">  
      {% if nodeCrit %}
        <p>Nodes that are <b>critically low</b> in battery levels are:</p>
        <ul id = "nodeCritUL">
        {% for entry in nodeCrit %}
          <li><span><a href="{{web_base_url}}/monitor/node/{{entry.id}}" class="battCritical">{{entry.nodeID}}</a></span> <span class="lastseen">(Battery level {{entry.battLevel}})</span>
            {% if entry.descr %}
              <br><span class="descr">{{ entry.descr }}</span>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
        
    <div id="warning" class="devices">  
      {% if nodeWarn %}
        <p>Nodes that have <b>low</b> battery levels are:</p>
        <ul id = "nodeWarnUL">
        {% for entry in nodeWarn %}
          <li><span><a href="{{web_base_url}}/monitor/node/{{entry.id}}" class="battWarning">{{entry.nodeID}}</a></span> <span class="lastseen">(Battery level {{entry.battLevel}})</span>
            {% if entry.descr %}
              <br><span class="descr">{{ entry.descr }}</span>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div id="nodeDown" class="devices">  
        {% if nodeDown %}
        <p>Nodes that are <b>DOWN</b> are:</p>
        <ul id = "nodeDown">
        {% for entry in nodeDown %}
          <li><span><a href="{{web_base_url}}/monitor/node/{{entry.id}}" class="node_down">{{entry.nodeID}}</a></span> <span class="lastseen">(last seen {{entry.lastseen}})</span>
            {% if entry.descr %}
              <br><span class="descr">{{ entry.descr }}</span>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
        {% else %}
          <p class="nodeup">All nodes are operational.</p>
        {% endif %}
    </div>

    <div id="gatewayDown" class="devices">  
      {% if gatewayDown %}
        <p>Gateways that are <b>DOWN</b> are:</p>
        <ul id = "gatewayDown">
        {% for entry in gatewayDown %}
          <li><span class="node_down"><a href="{{web_base_url}}/monitor/node/{{entry.id}}" class="node_down">{{entry.nodeID}}</a></span> <span class="lastseen">(last seen {{entry.lastseen}})</span>
          {% if entry.descr %}
            <br><span class="descr">{{ entry.descr }}</span>
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% else %}
        <p class="nodeup">All gateways are operational.</p>
      {% endif %}
  </div>

  </div>  

{% endblock %}
   