{% extends "monitor/email-base.html" %}

{% block title %}
Node down notification
{% endblock %}

{% block email-body %}
  <p>Hi {{ user.username|capfirst }}</p>

  <div id="nodes">

    <div id="critical" class="devices">  
      {% if nodeCrit %}
        <p>Nodes that are critically low in battery levels are:</p>
        <ul id = "nodeCritUL">
        {% for entry in nodeCrit %}
          <li><span class="battCritical"><a href="{{web_base_url}}/monitor/node/{{entry.id}}">{{entry.nodeID}}</a></span> <span class="lastseen">(Battery level {{entry.battLevel}})</span>
            {% if entry.descr %}
              <br><span class="descr">{{ entry.descr }}</span>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
        
    <div id="warning" class="devices">  
      {% if nodeWarn %}
        <p>Nodes that have low battery levels are:</p>
        <ul id = "nodeWarnUL">
        {% for entry in nodeWarn %}
          <li><span class="battWarning"><a href="{{web_base_url}}/monitor/node/{{entry.id}}">{{entry.nodeID}}</a></span> <span class="lastseen">(Battery level {{entry.battLevel}})</span>
            {% if entry.descr %}
              <br><span class="descr">{{ entry.descr }}</span>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div id="nodeDown" class="devices">  
        {% if nodeDown %}
        <p>Nodes that are <b>DOWN</b> are:</p>
        <ul id = "nodeDown">
        {% for entry in nodeDown %}
          <li><span class="node_down"><a href="{{web_base_url}}/monitor/node/{{entry.id}}">{{entry.nodeID}}</a></span> <span class="lastseen">(last seen {{entry.lastseen}})</span>
            {% if entry.descr %}
              <br><span class="descr">{{ entry.descr }}</span>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
        {% else %}
          <p class="nodeup">All nodes are operational.</p>
        {% endif %}
    </div>

    <div id="nodes" class="devices">  
      {% if nodes %}
        <p>Nodes that are fine are:</p>
        <ul id = "nodeOK">
        {% for entry in nodeOK %}
          <li><span class="nodeup"><a href="{{web_base_url}}/monitor/node/{{entry.id}}">{{entry.nodeID}}</a></span> <span class="lastseen">(last seen {{entry.lastseen}})</span>
            {% if entry.descr %}
              <br><span class="descr">{{ entry.descr }}</span>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
        {% else %}
          <p class="nodeup">All nodes are operational.</p>
        {% endif %}
    </div>
  </div>  

  <div id="gateways">
    <div id="gatewayDown" class="devices">  
      {% if gatewayDown %}
        <p>Gateways that are <b>DOWN</b> are:</p>
        <ul id = "gatewayDown">
        {% for entry in gatewayDown %}
          <li><span class="node_down"><a href="{{web_base_url}}/monitor/node/{{entry.id}}">{{entry.nodeID}}</a></span> <span class="lastseen">(last seen {{entry.lastseen}})</span>
            {% if entry.descr %}
              <br><span class="descr">{{ entry.descr }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div id="gatewayUp" class="devices">  
      {% if gatewayOK %}
        <p>Gateways that are fine are:</p>
        <ul id = "nodeOK">
        {% for entry in gatewayOK %}
          <li><span class="nodeup"><a href="{{web_base_url}}/monitor/node/{{entry.id}}">{{entry.nodeID}}</a></span> <span class="lastseen">(last seen {{entry.lastseen}})</span>
          {% if entry.descr %}
            <br><span class="descr">{{ entry.descr }}</span>
          {% endif %}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>



  </div>


{% endblock %}
   