{% extends "monitor/webbase.html" %}

{% block pagerefresh %}<meta http-equiv="refresh" content="60">{% endblock %}

{% block title %}
Node Details
{% endblock %}

{% block web-body %}
<div class="iot_background">

  <div id="node-header"><H2>Gateway information</H2></div>
  <div id="node_detail" class="content_block">
    <div id="node_det_table">
      <table>
        <tr><th>NodeID: </th><th>{{ gateway.nodeID }}</th></tr>
        <tr><td>Description: </td><td class = "wrap_cell">{{ gateway.descr }}</td></tr>
        <tr><td>Team: </td><td>{{ gateway.team.teamID }}</td></tr>
        {% if gateway.hardware %}
          <tr><td>Hardware: </td><td>{{ gateway.hardware }}</td></tr>
        {% endif %}
        {% if gateway.software %}
          <tr><td>Software: </td><td>{{ gateway.software }}</td></tr>
        {% endif %}
        {% if gateway.portal %}
          <tr><td>Data link: </td><td><span  class='yellow'><a href = {{gateway.portal}} >{{ gateway.portal }}</a></span></td></tr>
        {% endif %}
      </table>
    </div>
    <div id="node_det_button" class="action_button">
      <a href="{% url 'monitor:nodeUpdate' gateway.id %}" class="btn btn-info" role="button">Update details</a>
    </div>
  </div>
  
  
  <div id="node_notify" class="content_block"> 
    {% if gateway.nodeuser_set.all %}
      <div id="node_notify_table">
        <table>
          <tr><th>People </th><th>Notification method</th></tr>
          {% for person in gateway.nodeuser_set.all %}
            <tr><td>{{ person.user.username }}</td>
              <td>
              {% if person.email %} Email {% endif %}
              {% if person.sms %} SMS {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% else %}
      Nobody is getting notified about this gateway!<br><br>
    {% endif %}
    <div id="node_notify_button" class="action_button">
      <a href="{% url 'monitor:nodeModNotify' gateway.id %}" class="btn btn-info" role="button">Change your notification</a>
    </div>
  </div>
  
  
  <div id="node_reported" class="content_block">
      <div id="node_rep_table">
        <table>
          <tr><th>Reported data: </th></tr>
          <tr><td>Current status: </td><td>{{ gateway.textStatus }}</td></tr>
          {% if gateway.lastData %}
            <tr><td>Last data ({{ gateway.lastDataTime }}): </td><td class = "wrap_cell">{{ gateway.lastData }}</td></tr>
          {% endif %}
          {% if gateway.lastStatus %}
            <tr><td>Last status ({{ gateway.lastStatusTime }}): </td><td class = "wrap_cell">{{ gateway.lastStatus }}</td></tr>
          {% endif %}
          <tr><td>Last seen at: </td><td class="lastseen">{{ gateway.lastseen }}</td></tr>
          {% if gateway.status == "C" %}
            <tr><td>Online for : </td><td class="lastseen">{{ gateway.cameOnline|timesince }}</td></tr>
            {% if gateway.upTime > 0 %}
              <tr><td>Since last reboot : </td><td class="lastseen">{{ gateway.startTime|timesince }}</td></tr>
            {% endif %}
          {% endif %}

          {% if gateway.latitude %} {% if gateway.longitude %}
            <tr><td>Latitude: </td><td>{{ gateway.latitude }}</td></tr>
            <tr><td>Longitude: </td><td>{{ gateway.longitude }}</td></tr>
            <tr><td>Map: </td><td><a href="http://www.openstreetmap.org/?mlat={{ gateway.latitude }}&mlon={{ gateway.longitude }}&zoom=14" target="_blank">View in OpenStreetMap</a></td></tr>
          {% endif %} {% endif %}
          {% if gateway.RSSI %}
            <tr><td>Last RSSI level: </td><td>{{ gateway.RSSI }}</td></tr>
          {% endif %}
        </table>
        <P>Data has been received from the following nodes in the last 7 days</P>
        <ul>
        {% for pass in passData %}
          <li><a href="{% url 'monitor:nodeDetail' pass.nodeID.id %}">{{pass.nodeID}}</a> {{pass.lastdata }}</li>
        {% endfor %}
        </ul>

        {% if gateway.mqttmessage_set.all %}
          <P>Data has been received from the following MQTT queues</P>
          <ul>
          {% for mq in gateway.mqttmessage_set.all %}
              <li><span class = "nodename"><a href="{% url 'monitor:gatewayMqttLog' gateway.id mq.mqttQueue.id %}">{{ mq.mqttQueue.descr }}</a></span> ({{mq.received}})<br>
              Topic <span class = "mqtt_info">{{mq.topic}}</span><br>
              Payload <span class = "mqtt_info">{{mq.payload}}</span></li> 

              <!-- Topic <span class = "mqtt_info">{{mq.topic}}</span><br>
              Payload <span class = "mqtt_info">{{mq.payload}}</span></li> -->
            {% endfor %}
          </ul>
        {% endif %}



        {% if gateway.status == 'X' %}
          <div id="node_det_button" class="action_button">
            <a href="{% url 'monitor:nodeRemove' gateway.id %}" class="btn btn-danger" role="button">Remove</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if "MessageClassEditor" in user.groups.all.0.name %}
  <div id="node_notify" class="content_block"> 
    <div id="node_message_table">
      <table>
        <tr><th>Auto update information: </th></tr>
        <tr><td>Message Type : </td><td>{{gateway.messagetype.msgName}}</td></tr>
        <tr><td>Update Thingsboard : </td><td>{{gateway.thingsboardUpload}}</td></tr>
        <tr><td>Thingsboard credentials: </td><td>{{gateway.thingsboardCred}}</td></tr>
        <tr><td>Location override: </td><td>{{gateway.locationOverride}}</td></tr>
        <tr><td>Project override: </td><td>{{gateway.projectOverride}}</td></tr>
      </table>
    </div>

    <div id="node_notify_button" class="action_button">
      <a href="{% url 'monitor:nodeMsgUpdate' gateway.id %}" class="btn btn-info" role="button">Auto Update control</a>
    </div>
  </div>
  
{% endif %}

  <a href="{% url 'monitor:index_gw' %}" class="btn btn-info" role="button">Home</a>
 
</div>
{% endblock %}