{% extends "monitor/webbase.html" %}

{% block pagerefresh %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block title %}
Message Type list
{% endblock %}

{% block web-body %}

  <div id="msgtypes">
    {% if msgList %}
      <div class="list-group">
        {% for msg in msgList%}
          <a href="{% url 'monitor:msgDetail' msg.id %}">{{ msg.msgName }}</a>
        {% endfor %}
      </div>
    {% else %}
      <p>No gateways defined</p>>
    {% endif %} 
  </div>
  <div id="msg_add_button" class="action_button">
      <a href="{% url 'monitor:msgAdd' %}" class="btn btn-info" role="button">Add message</a>
    </div>
  
{% endblock %}