{% extends "monitor/webbase.html" %}

{% block pagerefresh %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block title %}
Project list
{% endblock %}

{% block web-body %}
  <div id="prj_add_button" class="action_button">
    <a href="{% url 'monitor:projectAdd'%}" class="btn btn-info" role="button">Add project</a>
  </div>

  <div id="projects">
    {% if prjList %}
      <div class="list-group">
        {% for project in prjList%}
          <a href="{% url 'monitor:projectDetail' project.id %}" class="list-group-item list-group-item-action list-group-item-success">{{project.teamID}}</a>
        {% endfor %}
      </div>
    {% else %}
      <p>No projects defined</p>
    {% endif %} 
  </div>
    

{% endblock %}