{% extends "monitor/webbase.html" %}

{% block pagerefresh %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block title %}
Node and gateway list
{% endblock %}

{% block web-body %}

  <div id="nodes">
    {% if nodeList %}
      <div class="list-group">
      {% for node in nodeList%}
        {% if not node.isGateway %} {% if not node.status == 'M' %}
          {% if node.status == 'X' %} 
            <a href="{% url 'monitor:nodeDetail' node.id %}" class="list-group-item list-group-item-action list-group-item-dark">{{node.nodeID}} (node not reporting in)</a>
          {% else %}
            {% if node.battName %} 
              {% if node.battLevel > node.battWarn %}
                {% if node.descr %}
                  <a href="{% url 'monitor:nodeDetail' node.id %}" class="list-group-item list-group-item-action list-group-item-success">{{node.nodeID}} ({{node.descr}})</a>
                {% else %}
                  <a href="{% url 'monitor:nodeDetail' node.id %}" class="list-group-item list-group-item-action list-group-item-success">{{node.nodeID}}</a>
                {% endif %}
              {% else %}
                {% if node.battLevel > node.battCritical %}
                  <a href="{% url 'monitor:nodeDetail' node.id %}" class="list-group-item list-group-item-action list-group-item-warning">{{node.nodeID}} (battery level is low)</a>
                {% else %}
                  <a href="{% url 'monitor:nodeDetail' node.id %}" class="list-group-item list-group-item-action list-group-item-danger">{{node.nodeID}} (battery level is critically low)</a>
                {% endif %}
              {% endif %}
            {% else %}
              {% if node.descr %}
                <a href="{% url 'monitor:nodeDetail' node.id %}" class="list-group-item list-group-item-action list-group-item-success">{{node.nodeID}} ({{node.descr}})</a>
              {% else %}
                <a href="{% url 'monitor:nodeDetail' node.id %}" class="list-group-item list-group-item-action list-group-item-success">{{node.nodeID}}</a>
              {% endif %}
            {% endif %}  
          {% endif %} 
        {% endif %} {% endif %}
      {% endfor %}
      </div>
    {% else %}
      <p>No nodes defined</p>>
    {% endif %}
  </div>

  
{% endblock %}