{% extends "monitor/webbase.html" %}
{% load static %}
{% comment %}
{% block pagerefresh %}<meta http-equiv="refresh" content="300">{% endblock %}
{% endcomment %}
{% block pagerefresh %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block title %}
Node list
{% endblock %}

{% block background %}
  <div class="container-fluid background1" style="background-image: url({% static 'monitor/at-work3.jpg' %});">
{% endblock %}

{% block web-body %}

  <div id="nodes">
    {% if nodeList %}
      <div class="list-group">
        {% for t1 in nodeBlock %}
          <button data-toggle="collapse" data-target="#{{t1.Name}}" class="btn btn-primary mb-md-1">{{t1.Name}}</button>
          <div id="{{t1.Name}}" class="collapse show">
          {% for b in t1.teamBlock %}
          <div class = "row row-cols-6">
            {% for node in b %}
              <div class="col-md-2 mb-md-2">
                {% if node.status == 'X' %} 
                  <div class="card bg-dark text-white">
                {% elif node.battName %}
                  {% if node.battLevel > node.battWarn %}
                    <div class="card bg-warning">
                  {% elif node.battLevel > node.battCritical %}
                    <div class="card bg-danger">
                  {% else %}
                    <div class="card bg-success">
                  {% endif %}
                {% else %}
                  <div class="card bg-success">
                {% endif %}
                  {% if node.status == 'X' %}
                    <a href="{% url 'monitor:nodeDetail' node.id %}" class="stretched-link card-header text-center text-white">{{node.nodeID}}</a>
                  {% else %}
                    <a href="{% url 'monitor:nodeDetail' node.id %}" class="stretched-link card-header text-center">{{node.nodeID}}</a>
                  {% endif %}
                  <p class="card-body">
                  {% if node.descr %} {{node.descr }} <br> {% endif %}
                  {% if node.battName %}Current battery value: {{node.battLevel}}<br>{% endif %}
                  {% if node.status == 'X' %}
                    Missing for: {{ node.lastseen|timesince }} 
                  {% else %}
                    {% if node.upTime %}
                      Up time : {{ node.startTime|timesince }}
                    {% else %}
                      Online for: {{ node.cameOnline|timesince }}
                    {% endif %}
                  {% endif %}
                  {% comment %}    {% if node.battName %}
                    Current value: {{node.battLevel}}
                  {% endif %}
                  {% endcomment %}
                  </p>
                </div>
              </div>
            {% endfor %}
            </div>
          {% endfor %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No nodes defined</p>
    {% endif %}
  </div>

  
{% endblock %}