{% extends "monitor/webbase.html" %}
{% load static %}
{% block pagerefresh %}<meta http-equiv="refresh" content="30">{% endblock %}

{% block title %}
Gateway list
{% endblock %}

{% block background %}
  <div class="container-fluid background1" style="background-image: url({% static 'monitor/Gateway.jpg' %});">
{% endblock %}

{% block web-body %}
  
  <div id="gateways" class="container-fluid">
    
    {% comment %}<div class="card-columns">{% endcomment %}
      {% for gRow in gw_block %}
        <div class = "row row-cols-6">
          {% for node in gRow %}
            <div class="col mb-md-3">
            {% if node.status == "X" %}
              <div class="card bg-dark text-white">
            {% else %}
              {% if node.upTime %}
                {% if node.upTime > 1440 %}
                  <div class="card bg-success"> 
                {% else %}
                  <div class="card bg-info">
                {% endif %}
              {% else %}
                {% if node.onlineTime > 1440 %}
                  <div class="card bg-success">
                {% else %}
                  <div class="card bg-info">    
                {% endif %}
              {% endif %}
            {% endif %}
              <div class="card-header">
                {% if node.status == "X" %}
                  <a href="{% url 'monitor:gatewayDetail' node.id %}" class="stretched-link text-white">{{node.nodeID}}</a>
                {% else %}
                  <a href="{% url 'monitor:gatewayDetail' node.id %}" class="stretched-link text-body">{{node.nodeID}}</a>
                {% endif %}

                {% for nu in node.nodeuser_set.all %}
                  {% if user == nu.user %}
                    {% if nu.email %}
                      <img src="{% static 'monitor/email.png' %}" class="float-right">
                    {% endif %}
                    {% if nu.sms %}
                      <img src="{% static 'monitor/sms.png' %}" class="float-right">
                    {% endif %}
                  {% endif %}
                {% endfor %}

              </div>
              <div class="card-text">
                {% if node.descr %} {{node.descr }} <br> {% endif %}
                {% if node.team %}Project: {{node.team.teamID}} <br>{% endif %}
                HW: {{ node.hardware }} SW version : {{node.software}} <br>
                {% if node.status != "X" %}
                  {% if node.upTime %}
                    Up time : {{ node.startTime|timesince }}
                  {% else %}
                    Uptime : N/A (Online for: {{ node.cameOnline|timesince }})
                  {% endif %}
                {% else %}
                  Status: Down
                {% endif %}
              </div>
            
              </div>
            </div>
          {% endfor %}
        </div>
        <p>
      {% endfor %}
    {% comment %} </div> {% endcomment %}
  </div>  

{% endblock %}