<!DOCTYPE html>
<html>
<head>
<title>Network Status</title>
<meta http-equiv="refresh" content="60" />
    <script>
    window.open(url,'window','toolbar=no, menubar=no, resizable=yes');
    </script>
<style>
.left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px solid #73AD21;
  padding: 2px;
}
    .right {
  margin: right;
  width: 100%;
  border: 1px solid #73AD21;
  padding: 1px;
}
</style>
</head>
<body style="background-color:#000000">

<div>
    <table width=100%><tr><td><iframe class="left" src="https://dashboard.innovateauckland.nz/dashboard/f2217360-a5f1-11e8-a31b-69c634af7f6b?publicId=b0889560-0ec8-11e9-bae7-81dfc7b56620"  style="height:2000px;width:95%;"></iframe></td></tr>
    </table></div>
</body>
</html>