{% extends "monitor/webbase.html" %}

{% block title %}
Node Details
{% endblock %}

{% block web-body %}
<div class="iot_background">
  <div id="logged_in">Logged in as {{ user.username }}</div>
  <div id="node-header">This is the information currently held for <span class="nodename">{{ node.nodeID }}</span> </div>
  <div id="node_detail" class="row bg-info text-white">
      <ul class="simple_list">
        <li><span>NodeID: </span><span>{{ node.nodeID }}</span></li>
        <li><span>Description: </span><span>{{ node.descr }}</span></li>
        <li><span>Team: </span><span class="topic">{{ node.team.teamID }}</span></li>
        <li><span>Current status: </span><span>{{ node.textStatus }}</span></li>
        <li><span>Last seen at: </span><span class="lastseen">{{ node.lastseen }}</span></li>
      </ul>
    </div>
  <div id="node_detail">
    <div class="row">
      <div class="col-sm-3">Node ID:</div>
      <div class="col nodeup">{{ node.nodeID }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3">Description:</div>
      <div class="col">{{ node.descr }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3">Team:</div>
      <div class="col">{{ node.team.teamID }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3">Current status:</div>
      <div class="col">{{ node.textStatus }}</div>
    </div>

    <div class="row">
      <div class="col-sm-3">Last seen at:</div>
      <div class="col">{{ node.lastseen }}</div>
    </div>
  </div>
  <div id="people-notify">
    {% if people %}
      {% for person in people %}
        <p>{{ person.username }}: Notification methods include:
        {% if person.email %} Email {% endif %}
        {% if person.email %} SMS {% endif %}
        </p>
     {% endfor %}
    {% endif %}
  </div>
  <div id="device">
    {% if node.hardware %}
      <div class="row">
        <div class="col-sm-3">Hardware:</div>
        <div class="col">{{ node.hardware }}</div>
      </div>
    {% endif %}

    {% if node.software %}
      <div class="row">
        <div class="col-sm-3">Software:</div>
        <div class="col">{{ node.software }}</div>
      </div>
    {% endif %}

    {% if node.isGateway %}
      <div class="row">
        <div class="col">This is a Gateway</div>
      </div>
    {% endif %} 

    {% if node.latitude %} {% if node.longitude %}
      <div class="row">
        <div class="col-sm-3">Latitude:</div>
        <div class="col">{{ node.latitude }}</div>
      </div>
      <div class="row">
        <div class="col-sm-3">Longitude:</div>
        <div class="col">{{ node.longitude }}</div>
      </div>
    {% endif %} {% endif %} 

    {% if node.battName %} {% if node.battLevel > 0 %}
      <div class="row">
        <div class="col-sm-3">Battery value key:</div>
        <div class="col">{{ node.battName }}</div>
      </div>
      <div class="row">
        <div class="col-sm-3">Current battery level:</div>
        <div class="col">{{ node.battLevel }}</div>
      </div>
      {% if node.battWarn %}
        <div class="row">
          <div class="col-sm-3">Warning battery level:</div>
          <div class="col">{{ node.battWarn }}</div>
        </div>
      {% endif %}
      {% if node.battCritical %}
        <div class="row">
          <div class="col-sm-3">Critical battery level:</div>
          <div class="col">{{ node.battCritical }}</div>
        </div>
      {% endif %}
    {% endif %} {% endif %} 

  </div>
  {% if node.nodeuser_set.all %}
    {% for nu in node.nodeuser_set.all %}
      <p>{{nu.username}}</p>
    {% endfor %}
  {% endif %}
  <a href="{% url 'monitor:nodeUpdate' node.id %}" class="btn btn-info" role="button">Update details</a>
  <a href="{% url 'monitor:index' %}" class="btn btn-info" role="button">Home</a>
 
</div>
{% endblock %}