{% extends "monitor/webbase.html" %}

{% block title %}
Node Details
{% endblock %}

{% block web-body %}
<div class="iot_background">
  <div id="logged_in">Logged in as {{ user.username }}</div>
  <div id="node-header">Node information</div>
  <div id="node_detail" class="content_block">
    <div id="node_det_table">
      <table>
        <tr><th>NodeID: </th><th>{{ node.nodeID }}</th></tr>
        <tr><td>Description: </td><td>{{ node.descr }}</td></tr>
        <tr><td>Team: </td><td class="topic">{{ node.team.teamID }}</td></tr>
        <tr><td>Current status: </td><td>{{ node.textStatus }}</td></tr>
        <tr><td>Last seen at: </td><td class="lastseen">{{ node.lastseen }}</td></tr>  
      </table>
    </div>
    <div id="node_det_button" class="action_button">
      <a href="{% url 'monitor:nodeUpdate' node.id %}" class="btn btn-info" role="button">Update details</a>
    </div>
  </div>
  
  {% if people %}
    <div id="node_notify" class="content_block">
      <div id="node_notify_table">
        <table>
          <tr><th>People:</th><th>Notification method</th></tr>
          {% for person in people %}
            <tr><td>{{ person.username }}</td>
              <td>
              {% if person.email %} Email {% endif %}
              {% if person.sms %} SMS {% endif %}
              </td>
            </tr>>
          {% endfor %}
        </table>
      </div>
      <div id="node_notify_button" class="action_button">
        <a href="{% url 'monitor:nodeModNotify' node.id %}" class="btn btn-info" role="button">Change your notification</a>
      </div>
    </div>
  {% endif %}
  
  <div id="device">
    {% if node.hardware %}
      <div class="row">
        <div class="col-sm-3">Hardware:</div>
        <div class="col">{{ node.hardware }}</div>
      </div>
    {% endif %}

    {% if node.software %}
      <div class="row">
        <div class="col-sm-3">Software:</div>
        <div class="col">{{ node.software }}</div>
      </div>
    {% endif %}

    {% if node.isGateway %}
      <div class="row">
        <div class="col">This is a Gateway</div>
      </div>
    {% endif %} 

    {% if node.latitude %} {% if node.longitude %}
      <div class="row">
        <div class="col-sm-3">Latitude:</div>
        <div class="col">{{ node.latitude }}</div>
      </div>
      <div class="row">
        <div class="col-sm-3">Longitude:</div>
        <div class="col">{{ node.longitude }}</div>
      </div>
    {% endif %} {% endif %} 

    {% if node.battName %} {% if node.battLevel > 0 %}
      <div class="row">
        <div class="col-sm-3">Battery value key:</div>
        <div class="col">{{ node.battName }}</div>
      </div>
      <div class="row">
        <div class="col-sm-3">Current battery level:</div>
        <div class="col">{{ node.battLevel }}</div>
      </div>
      {% if node.battWarn %}
        <div class="row">
          <div class="col-sm-3">Warning battery level:</div>
          <div class="col">{{ node.battWarn }}</div>
        </div>
      {% endif %}
      {% if node.battCritical %}
        <div class="row">
          <div class="col-sm-3">Critical battery level:</div>
          <div class="col">{{ node.battCritical }}</div>
        </div>
      {% endif %}
    {% endif %} {% endif %} 

  </div>
  {% if node.nodeuser_set.all %}
    {% for nu in node.nodeuser_set.all %}
      <p>{{nu.username}}</p>
    {% endfor %}
  {% endif %}

  <a href="{% url 'monitor:index' %}" class="btn btn-info" role="button">Home</a>
 
</div>
{% endblock %}