{% load static %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{% static "monitor/style.css" %}">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block pagerefresh %}<meta http-equiv="refresh" content="600">{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132422735-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132422735-2');
    </script>

    <title>
	    {% block title %}
        Node monitoring system
      {% endblock %}
    </title>
  </head>
  <body class="iot_background">
    {% block background %}
      <div class="container-fluid">
    {% endblock %}
    
      <div id="logged_in">
        {% if user.is_authenticated %}
          Hi {{ user.username|capfirst }} <a href="{% url 'logout' %}">Logout</a>
        {% else %}
          Not logged in 
        {% endif %}
      </div>
      <div id="pg_header">
        <img src="{% static 'monitor/LOGO.png' %}" class = "logo">
        <span class="heading_text">Innovate Auckland Monitoring {{ dev_msg }}</span>
      </div>

      {% block navbar %}
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
       
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            {% if nodeactive %}
              <li class="nav-item active">
            {% else %}
              <li class="nav-item"></li>
            {% endif %}
              <a class="nav-link" href="{% url 'monitor:index' %}">Data nodes</a>
            </li>

            {% if repeateractive %}
              <li class="nav-item active">
            {% else %}
              <li class="nav-item"></li>
            {% endif %}
              <a class="nav-link" href="{% url 'monitor:index_rp' %}">Repeaters</a>
            </li>

            {% if gatewayactive %}
              <li class="nav-item active">
            {% else %}
              <li class="nav-item"></li>
            {% endif %}
              <a class="nav-link" href="{% url 'monitor:index_gw' %}">Gateways</a>
            </li>

            {% if perms.monitor.change_messagetype %}
              {% if msgactive %}
                <li class="nav-item active">
              {% else %}
                <li class="nav-item"></li>
              {% endif %}
                <a class="nav-link" href="{% url 'monitor:index_msg' %}">Message Types</a>
              </li>
            {% endif %}
            {% if perms.monitor.change_team %}
              {% if prjactive %}
                <li class="nav-item active">
              {% else %}
                <li class="nav-item"></li>
              {% endif %}
                <a class="nav-link" href="{% url 'monitor:index_prj' %}">Projects</a>
              </li>
            {% endif %}
            <li class="nav-item"></li>
              <a class="nav-link" href="{% url 'monitor:DashboardStatus' %}">Dashboard status</a>
            </li>
          </ul>
        </div>
      </nav>
      {% endblock %}

      {% block web-body %}
        Node monitor
      {% endblock %}
      <!-- START FOOTER -->
      <div class="footer">
        <table class="footer">
          <tr>
            <td class="content-block">
              <span class="apple-link">Auckland Council Innovation team</span>
            </td>
          </tr>
        </table>
      </div>
      <!-- END FOOTER -->
    </div>
  </body>
</html>
